/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background: url('./Components/Assets/call3.png');
 background-size: cover;
} */