body{
  background: url('../Images/call3.png');
  background-size: cover;
}
.LoginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  }
  
  .LoginForm-box {
    background:transparent;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .LoginForm-box h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Logininput-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .Logininput-box input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  .Logininput-box input:focus {
    border-color: #007bff; /* Adjust color as per your design */
  }

 .LoginIcon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #888888;
  }
  

  .Loginremember-forgot {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Loginremember-forgot label {
    font-size: 14px;
  }
  
  .Loginremember-forgot a {
    font-size: 14px;
    margin-right: 30px;
    text-decoration: none;
    color: #007bff; /* Adjust color as per your design */
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff; /* Adjust color as per your design */
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Adjust color as per your design */
  }
  
  .Login {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .Login a {
    margin-left: 5px;
    text-decoration: none;
    color: #007bff; /* Adjust color as per your design */
  }
  